body {
  justify-items: center;
  align-items: center;
}

#calculator {
  background-color: rgb(59, 58, 58);
  width: 350px;
  height: 500px;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
}
#display {
  width: 346px;
  height: 70px;
  border: none;
  font-size: 70px;
  color: white;
  border-radius: 10px;
  background-color: rgb(83, 83, 82);
}
button {
  height: 75px;
  width: 75px;
  font-size: 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: rgb(252, 159, 39);
  color: white;
}
button:hover {
  background-color: rgb(252, 169, 61);
}
button:active {
  background-color: rgb(252, 159, 39);
}
#keys {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 5px;
}
.black {
  background-color: rgb(80, 77, 77);
}
.black:hover {
  background-color: rgb(46, 46, 45);
}
.black:active {
  background-color: rgb(80, 77, 77);
}
