body {
  font-family: sans-serif;
  background-size: cover;
  /* background-image: url(../static/image.jpg); */
}
#container {
  background-color: rgba(255, 255, 255, 0.5);
  height: 400px;
  width: 400px;
  justify-self: center;
  border-radius: 10px;
  margin-top: 50px;
  justify-items: center;
}
#label {
  display: flex;
  justify-content: center;
  gap: 5px;
}
#submitBtn {
  background-color: rgb(87, 87, 218);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 18px;
  transition: 0.2s;
}
#submitBtn:active {
  transform: scale(0.92);
}
#textbox {
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-right: 50px;
  font-style: sans-serif;
}
.listItem {
  display: flex;
  position: relative;
  bottom: 50px;
  left: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;
  padding: 10px;
  height: 30px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(65, 63, 63);
}
.deleteBtn {
  margin-left: 315px;
  position: fixed;
  transition: 0.1s;
}
.deleteBtn:active {
  transform: scale(0.92);
}
.doneBtn {
  margin-left: 270px;
  position: fixed;
  transition: 0.1s;
}
.doneBtn:active {
  transform: scale(0.92);
}
#Tasks {
  position: relative;
  left: 135px;
  top: 320px;
  color: rgb(80, 75, 75);
  font-weight: 700;
}
#completedTasks {
  position: relative;
  right: 122px;
  top: 287px;
  color: rgb(80, 75, 75);
  font-weight: 700;
}
#warnText {
  justify-self: center;
  font-weight: bold;
}
#taskText {
  color: white;
}
