body {
  font-family: sans-serif;
}
#container {
  background-color: lightgrey;
  height: 400px;
  width: 400px;
  justify-self: center;
  border-radius: 10px;
  margin-top: 50px;
  justify-items: center;
}
#label {
  display: flex;
  justify-content: center;
  gap: 5px;
}
#submitBtn {
  background-color: rgb(87, 87, 218);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 18px;
  transition: 0.2s;
}
#submitBtn:active {
  transform: scale(0.92);
}
#deleteBtn {
  background-color: rgb(218, 87, 87);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
  margin-left: 150px;
}
#deleteBtn:active {
  transform: scale(0.92);
}
#textbox {
  font-size: 20px;
  width: 200px;
  border-radius: 5px;
}
#list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-right: 50px;
  font-style: sans-serif;
}
.listItem {
  background-color: rgb(186, 189, 189);
  width: 350px;
  height: 30px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(65, 63, 63);
}
